.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.modal-content {
  position: absolute;
  top: calc((80% - 33.688rem) / 2);
  left: 50%;
  transform: translateX(-50%);
  width: 91.313rem;
  border-radius: 1.875rem;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  transition: height 0.3s ease;
  overflow: hidden;
}

.modal-close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-close:hover {
  color: #000;
}
